Package: fus
Version: 1.0
Architecture: all
Maintainer: Depperter Depp <depp@eierkopp.ddnss.org>
Installed-Size: 34
Depends: python3
Section: net
Priority: optional
Description: file upload server
 Simple file server serving a set of directories with
 configurable access rights.
