[Unit]
Description=File Upload Server
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/fus
ExecStart=/usr/bin/fus.py
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
User=fus
Group=fus
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

